a {
    color: #000000;
    font-style: italic;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    background-color: #F2F1F0;
    color: #000000;
}

table {
    border-collapse: collapse;
}

tr.even {
    background-color: #EEEEEE;
}
tr.even:hover {
    background-color: #EC7341;
    color: #FFFFFF;
}
tr.even:hover a {
    color: #FFFFFF;
}
tr.odd {
    background-color: #FFFFFF;
}
tr.odd:hover {
    background-color: #EC7341;
    color: #FFFFFF;
}
tr.odd:hover a {
    color: #FFFFFF;
}
